# {{ansible_managed}}
*nat
:PREROUTING ACCEPT
:INPUT ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT
COMMIT
*filter
:INPUT ACCEPT
:FORWARD DROP
:OUTPUT ACCEPT
-A FORWARD -i flannel.1 -j ACCEPT
-A FORWARD -o flannel.1 -j ACCEPT
COMMIT
