# {{ansible_managed}}
*nat
:PREROUTING ACCEPT
:INPUT ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT
COMMIT
*filter
:INPUT ACCEPT
:FORWARD DROP
:OUTPUT ACCEPT
-A FORWARD -i {{flanneld_interface_name}} -j ACCEPT
-A FORWARD -o {{flanneld_interface_name}} -j ACCEPT
{% if flanneld_over_wireguard == true %}
-A FORWARD -i {{flanneld_wireguard_interface}} -j ACCEPT
-A FORWARD -o {{flanneld_wireguard_interface}} -j ACCEPT
{% endif %}
COMMIT
