# {{ ansible_managed }}
# kube-apiserver config

# The address on the local server to listen to.
KUBE_API_ADDRESS="--bind-address=0.0.0.0"

# The port on the local server to listen on.
KUBE_API_PORT="--secure-port={{kube_apiserver_port}} --insecure-port={{kube_apiserver_insecure_port}}"

# Address range to use for services
KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range={{kube_service_network}}{% if kube_apiserver_advertise_address != '' %} --advertise-address={{kube_apiserver_advertise_address}}{% endif %}"

# default admission control policies
KUBE_ADMISSION_CONTROL="--enable-admission-plugins=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota"

# Add your own!
KUBE_API_ARGS="--client-ca-file={{kube_pki_dir}}/certs/ca.crt --tls-cert-file={{kube_pki_dir}}/certs/{{inventory_hostname}}.crt --tls-private-key-file={{kube_pki_dir}}/keys/{{inventory_hostname}}.key --kubelet-certificate-authority={{kube_pki_dir}}/certs/ca.crt --kubelet-client-certificate={{kube_pki_dir}}/certs/{{inventory_hostname}}.crt --kubelet-client-key={{kube_pki_dir}}/keys/{{inventory_hostname}}.key --service-account-key-file={{kube_pki_dir}}/keys/service_accounts.key"
