# {{ ansible_managed }}
# kubelet config

KUBELET_API_SERVER="--config {{kube_config_folder}}/kubelet.yml --kubeconfig={{kube_config_folder}}/kubeconfig"

# You may leave this blank to use the actual hostname
KUBELET_HOSTNAME="--hostname-override={{inventory_hostname}}.{{kube_domain}}"

# Add your own!
KUBELET_ARGS="{% if 'kube_masters' in group_names %}--node-labels=node-role.kubernetes.io/master {% if kube_taint_master %}--register-with-taints=node-role.kubernetes.io/master=:NoSchedule{% endif %}{% else %}--node-labels=node-role.kubernetes.io/minion{% endif %}"
