# {{ ansible_managed }}
current-context: {{kube_cluster_name}}
apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{kube_pki_dir}}/certs/ca.crt
    server: https://master.{{kube_domain}}:{{kube_apiserver_port}}
  name: {{kube_cluster_name}}-cluster
contexts:
- context:
    cluster: {{kube_cluster_name}}-cluster
    namespace: default
    user: default-user
  name: {{kube_cluster_name}}
users:
- name: default-user
  user:
    client-certificate: {{kube_pki_dir}}/certs/{{inventory_hostname}}.crt
    client-key: {{kube_pki_dir}}/keys/{{inventory_hostname}}.key
