# {{ ansible_managed }}
current-context: {{kube_context}}
apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{kube_cert_folder}}/ca.crt
    server: https://master.{{kube_tld}}:{{kube_apiserver_port}}
  name: {{kube_context}}-cluster
contexts:
- context:
    cluster: {{kube_context}}-cluster
    namespace: default
    user: default-user
  name: {{kube_context}}
users:
- name: default-user
  user:
    client-certificate: {{kube_cert_folder}}/node.crt
    client-key: {{kube_cert_folder}}/node.key
