# {{ ansible_managed }}
# kube-proxy config

{% if ansible_distribution_major_version == '28' %}
# FIX for github.com/kubernetes/kubernetes/issues/58956
KUBE_PROXY_ARGS=--proxy-mode=userspace
{% endif %}